@import '../../styles/global.css';

.land {
    position: relative;
    background-image: var(--image-overlay), url('../../assets/images/background-img3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    padding: 45px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content {
    padding: 20px;
    color: var(--text-dark);
    font-family: var(--font-family);
}

.locationHeading {
    font-size: 16px;
    margin-bottom: 20px;
    color: var(--text-dark);
}

.locationInfo p {
    margin-bottom: 15px;
    color: var(--text-dark);
    font-size: 16px;
}

.location {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--home-background);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

.locationTitle {
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-dark);
}

.locationInfo {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
}

.landAcknowledgmentContainer {
    margin-top: 20px;
}

/* Media query */
@media (min-width: 768px) {
    .location {
        margin: 10px;
    }
}

@media (min-width: 1024px) {
    .locationHeading {
        font-size: 18px;
    }

    .locationTitle {
        font-size: 20px;
    }

    .locationInfo p {
        font-size: 18px;
    }
}