@import '../../styles/global.css';

.heroSection {
    position: relative;
    background-image: var(--image-overlay), url('../../assets/images/background-img3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
    padding: 2rem 1rem;
}

.heroOverlay {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: var(--img-overlay);
    opacity: 0.90;
    z-index: -1;
}

.heroContent {
    background-color: var(--hero-background);
    padding: 1rem;
    border-radius: 5px;
    max-width: 300px;
    margin: 0 auto;
}

.heroContent h1 {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 650;
    color: var(--text-dark);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 3px rgba(255, 255, 255, 0.2);
}

.heroContent p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: var(--text-dark);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}

.heroLink {
    text-decoration: none;
    color: var(--link-color);
}

.heroLink:hover {
    color: var(--text-light-hover);
    text-decoration: none;
}

.heroBtn {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    font-size: 16px;
    color: var(--text-dark);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s;
    margin-bottom: 1rem;
    cursor: pointer;
}
  
.heroBtn:hover {
    background-color: var(--button-hover);
    color: var(--text-dark);
}

/* Responsive styles */
@media (max-width: 768px) {
    .heroContent p {
        font-size: 1rem;
    
    }
}

@media (min-width: 768px) {
    
    .heroContent {
        max-width: 90%;
    }
}

@media (min-width: 992px) {
    .heroSection {
        /* height: 100vh; */
        padding: 5rem 2rem;
    }

    .heroContent h1 {
        font-size: 2.5rem;
    }
    .heroContent p {
        padding: 0 2rem;
    }
}

@media (min-width: 1200px) {
    .heroContent {
        max-width: 80%;
    }
    }

