:root {

    /*Fonts*/
    --font-family: 'Montserrat:', sans-serif;

    /*Colors*/
    --background-color: #8cb89f;
    --home-background-color: #c6dccf;
    --text-dark: #1f2b24;
    --text-light: #ebebeb;
    --text-light-hover: #faf9f9;
    --text-dark-hover: #8a9284;
    --img-overlay: #424344;
    --hero-background: rgba(224, 224, 224, 0.5);
    --link-color: #364640;
    --home-background: #DFEBF2;
    --button-hover: #eeeeee;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    --search-background: #f4f8f5;
    --error-msg: #ff0000;
    --home-background-transparent: rgba(223, 235, 242, 0.8);
    --text-shadow: 0 0 10px rgba(17, 150, 110, 0.7);
    --image-overlay: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    --list-item-hover-bg:  rgba(17, 150, 110, 0.7);
 
    /* Fonts */
    --font-size: 16px;
    --font-size-heading: 24px;
    --font-size-code: 14px;
    --font-weight: 400;
    --font-weight-heading: 600;
    --font-weight-code: 400;
    --line-height: 1.5;
    --line-height-heading: 1.2;
    --line-height-code: 1.5;
    --letter-spacing: 0.5px;
    --letter-spacing-heading: 0.5px;
    --letter-spacing-code: 0.5px;
    --text-transform: none;
    --text-transform-heading: none;
    --text-transform-code: none;
    --text-decoration: none;
}