@import '../../styles/global.css';

.landAcknowledgment {
    border-radius: 5px;
}

.locationTSitle {
    font-size: 24px;
    margin-bottom: 10px;
    text-shadow: var(--text-shadow);
}

.landParagraph {
    font-size: 17px;
    margin-bottom: 20px;
    color: var(--text-dark);
}

.indigenousNames {
    font-weight: bold;
    color: var(--background-color);
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ctaButton {
    background-color: var(--background-color);
    border: none;
    color: var(--text-light);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-bottom: 1rem;
}

.ctaButton:hover {
    background-color: var(--button-hover);
}